.THIS .shiftRight{
    padding-left: 10px;
}
.THIS .shiftLeft{
    padding-right: 10px;
}
.THIS .checkboxArea{
    padding: 25px 25px 25px 10px;
}
.THIS .customRequired{
 font-weight: 400; 
} 
.THIS .customRequired:before{    
 content: "*";
 margin: 0 0.125rem 0 0.125rem;
 color: rgb(194, 57, 52);
 float: left; 
} 
.THIS .none{
 display:none; 
}
.THIS .errorMsg{
	color: rgb(194, 57, 52);    
}